name: CI Backend

on:
  push:
    branches: [ "master", "develop" ]
  pull_request:
    branches: [ "master", "develop" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup .NET 9.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
    
    - name: Restore dependencies
      run: dotnet restore FluentisCore.sln
    
    - name: Build
      run: dotnet build FluentisCore.sln --no-restore --configuration Release
    
    - name: Run tests
      run: dotnet test FluentisCore.Tests/FluentisCore.Tests.csproj --no-build --verbosity normal --configuration Release --filter "FullyQualifiedName!~IntegrationTests"
    
    - name: Clear NuGet cache (fix dotnet-ef installation)
      run: dotnet nuget locals all --clear
    
    - name: Install EF Core Tools
      run: dotnet tool install --global dotnet-ef --version 9.0.0
    
    - name: Restore local tools
      run: dotnet tool restore
    
    - name: Check Migrations
      run: dotnet ef migrations list --project FluentisCore/FluentisCore.csproj --startup-project FluentisCore/FluentisCore.csproj
